::ng-deep .app-hover-class{
    width: 100%;
    height: 100%;
    margin : 10px;
}

#outer-cnt{
    display: flex;
    gap : 5px;
    border: 1px black solid;
   font-family: "Roboto",arial,sans-serif;
   text-align: center;
   width: 400px;
   margin: 40px;
   padding:10px;
   border-radius: 4px;
    
}
.color-div{
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
}