<div [style.background-color] = "color">
<mat-dialog-content class="mat-typography" style = "display: flex;flex-direction: column;gap:10px">
  <input style = "font-weight: 550;border: transparent;outline :none;background-color: transparent;" [(ngModel)] = "title" [value] = "title">
  <input style="max-width: 100%; word-wrap: break-word;flex-wrap:wrap;border:transparent;outline: none;background-color: transparent;" [(ngModel)] = "desc" [value] = "desc">
</mat-dialog-content>
<mat-dialog-actions align ="end">
  <div style="display: flex; justify-content: space-between; width: 400px;">
    <div style="display: flex; gap: 20px;">
    <mat-icon svgIcon="reminder-icon"></mat-icon>
    <mat-icon svgIcon="collaborator-icon"></mat-icon>
    <mat-icon svgIcon="color-palatte-icon"[matMenuTriggerFor]="menu1" ></mat-icon>
    <mat-icon svgIcon="img-icon"></mat-icon>
    <mat-icon svgIcon="archive-icon" (click) = "isArchieve = true"></mat-icon>
    <mat-icon svgIcon="more-icon" [matMenuTriggerFor]="menu" ></mat-icon>
    </div>
    <div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click) = "isTrash = true">     Delete note      </button>
        <button mat-menu-item>     Change Label    </button>
        <button mat-menu-item>     Add drawing   </button>
        <button mat-menu-item>     Make a copy   </button>
        <button mat-menu-item>     Show tick boxes  </button>
        <button mat-menu-item>     Version history   </button>
        </mat-menu>
    </div>
    <mat-menu #menu1 ="matMenu" style = "display: flex;width: 200px;gap:5px ;padding-left: 10px;justify-content: space-around;align-items: center;flex-wrap: wrap;">
      <div class = "matMenuContent" style="display: flex;flex-wrap: wrap;width:200px;">
          <div style = "background-color:rgb(244, 108, 108) ;width : 30px;height: 30px;border-radius: 50%;"(click) = "color = ('rgb(244, 108, 108)')" ></div>
          <div style = "background-color:lightblue ;width : 30px;height: 30px;border-radius: 50%;"(click) = "color = ('lightblue')"></div>
          <div style = "background-color:rgb(240, 212, 212);width : 30px;height: 30px;border-radius: 50%;"(click) = "color = ('rgb(240, 212, 212)')"></div>
          <div style = "background-color:rgb(233, 117, 117) ;width : 30px;height: 30px;border-radius: 50%;"(click) = "color = ('rgb(233, 117, 117)')"></div>
          <div style = "background-color:plum ;width : 30px;height: 30px;border-radius: 50%;"(click) = "color = ('plum')"></div>
          <div style = "background-color:powderblue ;width : 30px;height: 30px;border-radius: 50%;"(click) = "color = ('powderblue')"></div>
          <div style = "background-color:salmon ;width : 30px;height: 30px;border-radius: 50%;"(click) = "color = ('salmon')"></div>
          <div style = "background-color:sandybrown ;width : 30px;height: 30px;border-radius: 50%;"(click) = "color = ('sandybrown')"></div>
          <div style = "background-color:rgb(233, 103, 103) ;width : 30px;height: 30px;border-radius: 50%;"(click) = "color = ('rgb(233, 103, 103)')"></div>
          <div style = "background-color:grey;width : 30px;height: 30px;border-radius: 50%;"(click) = "color = ('grey')"></div>
          <div style = "background-color:rgb(234, 220, 220) ;width : 30px;height: 30px;border-radius: 50%;"(click) = "color = ('rgb(234, 220, 220)')"></div>
          <div style = "background-color:rgb(130, 190, 171) ;width : 30px;height: 30px;border-radius: 50%;"(click) = "color = ('rgb(130, 190, 171)')"></div>  
      </div>
  </mat-menu>
</div>
  <button mat-button (click)="handleEditNote()" cdkFocusInitial >Close</button>
</mat-dialog-actions>
</div>

