<div id = "main-outer-cnt">
    <img src = "https://cdn3.iconfinder.com/data/icons/internet-security-1-1/33/wifi_lock-512.png" title="lock" height="200px"width = "280px">
    <div id = "forget-display-cnt">
        <span id>Forget Password?</span>
        <span style="font-weight: 600;">You can reset your password</span>
    </div>
    <div>
        <input type = 'email' placeholder="email addresss" class = "input-field" #email>
    </div>
    <button mat-flat-button color="primary" style = "font-weight: 600;" (click) = "handleForget(email.value)">Send tokken</button>
    <div>
        <input type = 'text' placeholder = "enter tokken"  class = "input-field" #tokken>
    </div>
    <input type = 'text' placeholder = "enter new password"  class = "input-field" #password>
    <button mat-flat-button color="primary" style = "font-weight: 600;" (click) = "handlePassword(tokken.value,password.value)">Submit</button>
</div>
